/image-dired/*
/el-get/*
/elpa/*
*.elc
*~
/session.*
kkcrc
recentf
semanticdb
srecode-map.el
thumbs
tramp
ede-projects.el
var
places
abbrev_defs
ac-comphist.dat
bookmarks
newsticker
history
/eshell/history
/eshell/lastdir
edts
ensime
url
.org-id-locations
.lsp-session*
network-security.data
package-quickstart.el
